.users-list{
  margin: 2em;
  align-items: center;
  text-align: center;
}

.profile{
  align-items: center;
  width: 100%;
  height: 10%;
}

.homeNav{
  align-items: center;

}

.homeNav button{
  font-size: large;
}

table{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}